@if (!Request.IsAuthenticated) 
{     
    <li>@Html.ActionLink("Inicio", "Index", "Inicio")</li>
    <li>@Html.ActionLink("Sobre", "Sobre", "Inicio")</li>                                
}
else
{
     <li>@Html.ActionLink("Alimentos", "Cadastrar", "Alimento")</li>
     <li>@Html.ActionLink("Refeições", "Cadastrar", "Refeicao")</li> 
     <li>@Html.ActionLink("Metas", "Cadastrar", "Meta")</li> 
} 